body{
	margin: 0;
	padding: 0;
	background-color: #fafafa;
}



/* top nav bar */
.nav {
	overflow: hidden;
	background-color: rgb(253, 227, 231);
}
  
.nav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.nav a:hover {
	background-color: rgb(255, 190, 202);
	color: black;
}

.nav a.active {
	background-color: #04AA6D;
	color: white;
}



/* Button to top */
#topBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 30px;
	border: none;
	outline: none;
	background-color: pink;
	color: black;
	cursor: pointer;
	padding: .4rem 1rem;
	border-radius: 50%;
	border: 2px solid black;
  }
  
  #topBtn:hover {
	background-color: rgb(245, 148, 164);
  }



/* First page */
.page1 .container{
	display: grid;
	position: relative;
	grid-template-columns: 50% 50% ;
	margin: 0;
	padding: 0;
}
.page1 .pic, .page1 .pic img{
	margin: 0;
	padding: 0;
	width: 50vw;
	height: 100vh;
}
.page1 .text{
	margin: auto 0 auto 0;
	text-align: center;
}
.page1 .logo{
	width: 15em;
}
.page1 .footer{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 4rem;
	margin: 0;
	padding: 0;
}
.page1 .footer-pic{
	height: 3rem;
	margin: 1rem;
}



/* secound page*/
.page2 .container{
	display: grid;
	position: relative;
	grid-template-columns: 50% 50% ;
	margin: 0;
	padding: 0;
}
.page2 .pic, .page2 .pic img{
	margin: 0;
	padding: 0;
	width: 50vw;
	height: 100vh;
}
.page2 .text{
	font-size: .8rem;
	padding: 0 .5rem;
	margin: auto 0 auto 0;
	text-align: center;
}
.page2 .column-text{
	display: grid;
	position: relative;
	grid-template-columns: 50% 50% ;
	margin: 0;
	padding: 0;
}
.page2 .colors, .page2 .sizes{
	text-decoration: underline;
}

/* fourth page */
.page4 .container{
	display: grid;
	grid-template-columns: 50% 50% ;
	margin: 0;
	padding: 0;
}
.page4 .col{
	display: grid;
	grid-template-columns: 50% 50% ;
	margin: 0;
	padding: 0;
}
.page4 .prod-name{
	font-size: 200%;
	margin: auto 0 auto auto;
	text-align: left;
}
.page4 .prod-pic{
	float: right;
	margin:1rem 0;
	text-align: left;
}
.page4 .prod-col{

	margin: auto 4rem;    
	text-align: left;
}
.page4 .prod-pic img{
	width: 15rem;
	padding-left: 25%;
	margin: 0;
}
.page4 .prod-price{
	margin: 1rem 0 auto auto;
	text-align: left;
}