<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <title>Fanka Decor</title>
</head>
<body ng-app="myApp" >
    <header class="nav">
        <a href="#info">Tájékoztató</a>
        <a href="#">Galéria</a>
        <a href="#prices">Árak</a>
        <a href="#transport">Szállításról</a>
        <a href="#me">Rólam</a>
        <a href="#officials">Hivatalos</a>
        <a href="#gifts">Ajándékcsomagok</a>
        <a href="#fromYou">Tőletek</a>
    </header>


    <div class="page1">
        <div class="container">
            <div class="pic">
                <img src="img/products/test.jpg" alt="Fanka Dekor">
            </div>
            <div class="text">
                <h1>Fanka Decor</h1>
                <img class= "logo" src="img/linktree/logo.png" alt="Fanka Dekor">
                <h3>Üdvözöllek a Fanka decor oldalán!</h3>
                <footer>
                    <a href="https://www.facebook.com/tirpak.fanni"><img src="img/linktree/facebook.png" class="footer-pic"></a>
                    <a href="https://www.instagram.com/fanka-dekor/"><img src="img/linktree/instagram.png"  class="footer-pic"></a>
                    <a href="#"><img src="img/linktree/meska.png"  class="footer-pic"></a>
                
                </footer>
            </div>
        </div>
    </div>
    
    <div class="page2" id="info">
        <div class="container">
            <div class="pic">
                <img src="img/products/test.jpg" alt="Fanka Dekor">
            </div>
            <div class="text">
                <h2>Tájékoztató (viasz, méret, szín, illat, kanóc)</h2>
                <p>Viasz
                    Gyertyáim készítéséhez szójaviaszt használok.
                    
                    </p>
                    <p>
                        A szójagyertya 100 %-ban növényi alapú viaszból  (szójababból) készül, mely nem juttat toxinokat a levegőbe (vegán).  A hagyományos gyertyák paraffinból vagy paraffin félékből készülnek melyek kőolajszármazékok, égetésük igen káros az egészségünkre, ugyanazok a toxinok (pl.:benzol, toluol és formaldehid) kerülnek a levegőbe, mint a dízel üzemanyagok égetése során. 
                    </p>
                    <p>
                        A szójaviasz gyertyák tisztán égnek, nem termelnek fekete kormot, ellentétben a kőolaj alapú gyertyákkal, melyek égetése során fekete korom keletkezik, mely ellepheti a  függönyöket, szőnyeget, falakat.
                    </p>
                    <p>
                        A szójaviasz teljesen természetes, megújuló és vegán, szójababból származtatott növényi olaj, mely szobahőmérsékleten szilárd anyaggá alakul. - megújuló és környezetbarát. A szójaviasz a legjobb alternatíva a vegánoknak, és mindannyiunknak, akik környezettudatos és egészséges otthont szeretnének kialakítani.
                    </p>
                    <p>
                        A szójaviasz sokkal kisebb eséllyel égetheti meg a bőrt, mivel alacsonyabb az olvadáspontja, mint a paraffinnak. A szójaviasz biztonságosabb, ha gyermeked és/vagy háziállatod van.
                    </p>
                    <p>
                        A szójaviasz gyertya gazdaságosabb hiszen közel kétszer tovább ég, mint a hagyományos gyertyák. 
                    </p>
                    <p>
                        A szójaviasz gyertya illata természetesebb és kellemesebb, mivel a viasz maga tisztább (1000x), mint a paraffin.  
                    </p>
                
            
                <div class="column-text" ng-controller="MainController">
                    <div>
                        <p class="sizes">Méretek:</p>
                        <div class="text-size" ng-repeat="size in sizes">
                                <size-info info="size"></size-info>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p class="colors">Színek:</p>
                            <div class="text-size" ng-repeat="color in colors">
                                    <color-info info="color"></color-info>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-text" ng-controller="MainController">
                    <div>
                        <p class="scent">Illat:</p>
                        <p>
                            Megfelelő választás a levendula, ha kedveled nyugtató illatát.
                            Ha frissítő illatra vágysz az erdei gyümölcs pont tökéletes választás.
                            A narancs illat nekem inkább a karácsonyra emlékeztet, de kinek mi.
                            Illetve kérhető még kókusz-vanília változatban is a nyári esti napokra.
                            A téli illat szerelmeseinek kettő féle változat áll rendelkezésre: karácsonyi varázs és karácsonyi fűszerkeverék (fahéj, szegfű, fűszerezett forralt bor).
                        </p>
                    </div>
                    <div>
                        <div>
                            <p class="match">Kanóc:</p>
                            <p>
                                A kanóc hármas fonatból áll, fonatonként 15 pamutszállal. 100% tisztaságú pamut kanóc.
                            </p>
                            <p>
                                Talpas kanócot használok a Shell nevű gyertya készítéséhez.A kanóc erős, merev, viaszolt felülete biztosítja azt, hogy öntés közben is stabilan tartsa egyenes formáját. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page4" id="prices" >
        <div class="main" ng-controller="MainController">
            <div class="container">
               <div ng-repeat="prod in products"> 
                 <product-info info="prod"></product-info>
               </div>
            </div>
        </div>
    </div>




    <div class="page5" id="transport" >
        <div class="container">
            <div class="infos">
                <div class="transfer">
                    <div class="title" >
                        &#8226; Szállítási módok:
                    </div>
                    <p>
                        - Magyar Posta házhozszállítás
                        Díja: 1855Ft
                    </p>
                    <p>
                        - Foxpost automatába
                        Díja: 1099Ft
                    </p>
                    <p>
                        - Foxpost házhozszállítás
                        Díja: 1699Ft
                    </p>
                    <p>
                        - Személyes átvétel: Tiszaújvárosban és Debrecenben lehetőség van személyes átvételre is előre egyeztetett időpontban.
                    </p>
    
                </div>
                <div class="payment">
                    <div class="title" >
                        &#8226; Fizetési módok:
                    </div>
                    <p>
                        - Kizárólag előre utalás után tudom feladni a csomagot.
                    </p>
                    <p>
                        - Utánvétre sajnos nincs lehetőség.
                    </p>
                </div>
                <div class="package">
                    <div class="title">
                        &#8226; Csomagolás:
                    </div>
                </div>
            </div>
            <div class="pic"><img src="img/products/test.jpg" alt="Szállítási infók"></div>
    
        </div>
    </div>



    <div class="page6" id="me" >
        <div class="container">
            <div class="pic">
                <img src="img/products/test.jpg">
                <div class="pic-text">
                    <p>
                        Kedves Látogató!
                    </p>
                    <p>
                        A nevem Fanni, a fankadecor alapítója. 20 éves vagyok és jelenleg a tanulmányaim mellett foglalkozom a gyertya készítéssel. 2021. májusában kezdtem el a kisvállalkozásomat. Örömmel tölt el, hogy azzal foglalkozhatok amit igazán szeretek. 
                    </p>
                    <p>
                        Már kiskoromban is rengeteget kreatívkodtam, hisz imádtam üvegfestékezni, gyöngyöt fűzni, fülbevalót és nyakláncot csinálni, harisnyából és drótból különféle virágokat készíteni. Rengeteg kreatív könyvem volt. Kertes házban élünk a szüleimmel, a körülöttünk lakók zöme idősebb korosztály. Egy nyári nap bekopogtam a szomszédokhoz és a kezükbe nyomtam egy meghívót a bolhapiacomra rajta dátummal. Ezt követően az utcánkban leültem egy hatalmas árnyékot adó fa alá a boltos kasszámmal illetve a mindenféle eladó dísztárgyaimmal és vártam a vásárlókat. Aranyosak voltak, eljött mindenki és vásároltak is akiket hívtam. A mai napig jó kapcsolatot ápolunk velük. Tehát innen a vállalkozó szellem. Talán a véremben is lehet, hisz édesapám is vállalkozó.
                    </p>
                    <div class="readMore">
                        <a href="#" >Olvass tovább...</a>
                    </div>
    
                </div>
            </div>
            <div class="links">
                <a href="https://www.facebook.com/tirpak.fanni"><img src="img/linktree/facebook.png" class="footer-pic"></a>
                <a href="https://www.instagram.com/fanka-dekor/"><img src="img/linktree/instagram.png"  class="footer-pic"></a>
                <a href="#"><img src="img/linktree/meska.png"  class="footer-pic"></a>
            </div>
        </div>
    </div>
































    <div class="page7" id="officials" >
        <div class="container">
               
        </div>
    </div>
    <div class="page8" id="gifts" >
        <div class="container">
               
        </div>
    </div>
    <div class="page9" id="fromYou" >
        <div class="container">

        </div>
    </div>        



    <button id="topBtn" onclick="topFunction()">&#8679;</button>
    
    <script src="js/controllers/MainControllers.js"></script>
    <script src="js/controllers/topBtn.js"></script>
    <script src="js/directives/productsInfo.js"></script>
    <script src="js/directives/sizeInfo.js"></script>
    <script src="js/directives/colorInfo.js"></script>

</body>
</html>